@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

* {
  font: 'Lato', sans-serif;
}

html {
  display: grid;
  min-height: 100%;
}

body {
  display: grid;
  background: linear-gradient(to bottom left, #79C7C5 40%, #F9FBFF 100%);

}

.container {
  position: relative;
  display: flex;
  margin: 12% auto;
  width: 620px;
  height: 450px;
}

.chatbox {
  position: absolute; 
  left: 35%;
  height: 75%;
  width: 60%;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(#777777, 0.5);
}

.top-bar {
  width: 100%;
  height: 60px;
  background: #F9FBFF;
  border-radius: 10px 10px 0 0;
}


.name {
  position: absolute;
  top: 22px;
  text-transform: uppercase;
  color: #777777;
  font-size: .8em;
  letter-spacing: 2px;
  font-weight: 500;
  left: 60px;
}


.middle {
  position: absolute;
  background: #F9FBFF;
  width: 100%;
  opacity: 0.85;
  top: 60px;
  height: 80%;
}

.incoming {
  position: absolute;
  width: 50%;
  height: 100%;
  padding: 20px;
}
.incoming .bubble {
    background: black;
}


.bubble {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
  color: #F9FBFF;
  font-size: 0.7em;
  padding: 10px 10px 10px 12px;
  border-radius: 20px;
}

/* .lower {
  margin-top: 45px;
} */

.outgoing {
  position: absolute;
  padding: 20px;
  right: 0;
  top: 15%;
  width: 50%;
  height: 100%;
}
.outgoing .bubble {
    background: #79C7C5;
    float: right;
}



.bottom-bar {
  position: absolute;
  width: 100%;
  height: 55px;
  bottom: 0;
  background: #F9FBFF;
  border-radius: 0 0 10px 10px;
}

.left {
  left: 0px;
}

input {
  padding: 7px;
  width: 74%;
  left: 5%;
  position: absolute;
  border: 0;
  top: 13px;
  background: #F9FBFF;
  color: #79C7C5;

}

input::placeholder {
  color: #A1E2D9;
}

input:focus {
  color: #777777;
  outline: 0;
}

button {
  position: absolute;
  border: 0;
  font-size: 1em;
  color: #A1E2D9;
  top:  19px;
  opacity: 0.8;
  right: 17px;
  cursor: pointer;
  outline: 0;
}

box-icon {
    background-color: #F9FBFF;
}



